.who-we-are-contents {
  max-width: 1138px;
  /* background-color: red; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
}

.who-we-are-left {
  position: relative;
}

.who-we-are-left img:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: -70px;
}

.who-we-are-left img:last-child {
  position: absolute;
  left: -90px;
}

.who-we-are-right {
  max-width: 423px;
}

.who-we-are-right h2 {
  font-family: Jua;
  font-size: 64px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
}

.who-we-are-right p {
  color: rgba(150, 150, 150, 1);
  font-size: 17px;
  line-height: 24px;
}

.who-we-are-right:last-child {
  margin-top: 10px;
}

.whobutton {
  margin-top: 15px;
}

@media (max-width: 968px) {
  .who-we-are-container {
    /* background-color: red; */
    margin-top: 15rem;
    min-width: 100%;
    position: relative;
  }

  .who-we-are-contents {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 70px;
    align-items: center;
    /* background-color: blue; */
    min-width: 100%;
  }

  .who-we-are-right {
    text-align: center;
  }

  .who-we-are-right p {
    font-size: 30px;
    line-height: 34px;
    margin: 50px 0;
    text-align: center;
  }

  .who-we-are-contents .title-container {
    text-align: center;
    width: fit-content;
    margin-left: 55px;
  }
}

@media (max-width: 568px) {
  .who-we-are-container {
    max-width: 90%;
    margin: 15rem auto 10px auto;
    /* background-color: red; */
  }

  .who-we-are-contents {
    min-width: 90%;
    padding: 20px;
  }

  .who-we-are-right .title-container {
    width: 95%;
    margin: auto;
  }

  .who-we-are-right .title-container h2 {
    font-size: 34px;
    text-align: center;
  }

  .who-we-are-right p {
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0;
  }

  .who-we-are-left img:first-child {
    width: 273px;
    height: 273px;
  }

  .who-we-are-left img:nth-child(2) {
    width: 72px;
    height: 72px;
    right: -40px;
  }

  .who-we-are-left img:last-child {
    width: 116px;
    height: 116px;
    left: -40px;
    border-radius: 50%;
  }
}
