.navigation-container {
  background: url("../../assets/topbgImg.png");
  background-size: 100%;
  height: 370px;
  max-width: 100%;
  background-repeat: no-repeat;
}

.navtigation-top-contents {
  padding-top: 150px;
  position: relative;
  text-align: center;
}

.navtigation-top-contents h3 {
  background-color: rgba(255, 248, 244, 1);
  margin: auto;
  width: fit-content;
  padding: 21px 48px 21px 48px;
  border-radius: 70px;
  font-size: 62px;
  font-weight: 700;
  /* position: sticky; */
}

.dot {
  background: rgba(255, 115, 21, 1);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 1px solid rgba(255, 115, 21, 1);
  position: relative;
  top: -2px;
}

/* .navtigation-top-contents h2 {
  max-width: 1184px;
  margin: 30px auto 0px auto;
  font-family: Jua;
  font-size: 64px;
  font-weight: 400;
  line-height: 73px;
  text-align: center;
  color: rgba(48, 48, 48, 1);
}

.navtigation-top-contents p {
  max-width: 702px;
  margin: 10px auto 0px auto;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 35px;
} */

.sticky {
  position: fixed;
  height: 185px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  top: 0px;
  z-index: 100;
}

.sticky h3 {
  margin-top: 20px;
}

@media (max-width: 968px) {
  .navtigation-top-contents h3 {
    font-size: 44px;
    line-height: 34px;
    text-align: center;
    font-weight: 700;
  }

  .navtigation-top-contents h2 {
    font-size: 56px;
    line-height: 64px;
    max-width: 656px;
  }

  .navtigation-top-contents p {
    font-size: 19px;
    max-width: 564px;
    margin-top: 30px;
  }
}

@media (max-width: 568px) {
  .navigation-container {
    height: 200px;
  }

  .navtigation-top-contents {
    padding-top: 50px;
  }

  .navtigation-top-contents h3 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    padding: 21px 10px 21px 10px;
  }

  .navtigation-top-contents h2 {
    font-size: 24px;
    line-height: 26px;
  }

  .navtigation-top-contents p {
    font-size: 14px;
    line-height: 17px;
    padding: 0 45px;
  }

  .h3-container {
    height: 85px;

    /* background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ); */
    padding: 30px 0;
  }

  .dot {
    width: 17px;
    height: 17px;
    top: 0px;
  }

  .sticky {
    height: 155px;
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .sticky h3 {
    margin-top: 5px;
  }
}
