.aboutevent-container-image img {
  max-width: 100%;
  position: relative;
}

.aboutevent-container-contents {
  max-width: 80%;
  margin: 50px auto;
  font-family: Inter;
  line-height: 34px;
  text-align: center;
  background-color: rgba(255, 248, 244, 1);
  padding: 20px;
  border-radius: 28px;
}

.aboutevent-container-contents h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.aboutevent-container-Abeventpillars {
  /* background-color: rgba(255, 248, 244, 0.3); */
}

.aboutevent-container-external-resources {
  background-color: rgba(255, 248, 244, 0.3);
}

.image-lebel {
  position: absolute;
  right: 0;
  padding: 20px;
  font-family: Inter;
  font-weight: 600;
}

@media (max-width: 568px) {
  .aboutevent-container-contents {
    max-width: 100%;
  }

  .image-lebel {
    position: absolute;
    right: 0;
    padding: 20px;
    font-family: Inter;
    font-weight: 600;
  }
}
